<script setup lang="ts">
import type { Task } from '@/App.vue';
import { reactive } from 'vue';

const props = defineProps<{
  results: Task[]
}>()

const form = reactive({
  title: '',
  status: '',
})

async function onSubmit() {
  try {
    const response = await fetch('http://localhost:8000/api/v1/tasks/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(form),
    })

    if (!response.ok) {
      throw new Error('Error submitting data')
    }
    const { data } = await response.json()
    props.results.push(data[0])
  } catch (error) {
    console.error('Error:', (error as Error).message)
  }
}
</script>

<template>
  <form @submit.prevent="onSubmit">
    <input type="text" name="title" v-model="form.title" />
    <select name="status" v-model="form.status">
      <option value="">Select Status</option>
      <option value="pending">Pending</option>
      <option value="inprogress">In progress</option>
      <option value="completed">Completed</option>
    </select>
    <button type="submit">Submit</button>
  </form>
</template>
