<script setup lang="ts">
import type { Task } from '@/App.vue'

import TaskFormInput from './TaskFormInput.vue'

const statusMode: Record<Task['status'], string> = {
  pending: 'badge-danger',
  inprogress: 'badge-primary',
  completed: 'badge-success',
}
const props = defineProps<{
  results: Task[]
}>()

async function onHandleDelete(id: number) {
  try {
    const response = await fetch(
      `http://localhost:8000/api/v1/tasks/${id.toString()}`,
      {
        method: 'DELETE',
      }
    )
    const { data } = await response.json()
    if (!response.ok) {
      throw new Error('Error deleting data')
    }

    const filtered = props.results.filter((result) => result.id !== data[0].id)
    console.log(filtered)
    // if (data[0]) {
    //   const filtered = props.results.filter(
    //     (result) => result.id !== data[0]?.id
    //   )
    //   console.log(filtered)
    // } else {
    //   throw new Error('Invalid data format')
    // }

    // console.log(data[0].id)
    console.log(props.results)
  } catch (error) {
    console.log((error as Error).message)
  }
}
</script>

<template>
  <!-- <pre>
    {{ results }}
  </pre> -->
  <TaskFormInput :results="results" />
  <div class="list">
    <div class="list-item" v-for="result in results" :key="result.id">
      {{ result.title }}
      <div>
        <span class="badge" :class="statusMode[result.status]">{{
          result.status
        }}</span>
        <button @click="() => onHandleDelete(result.id)">Delete</button>
      </div>
    </div>
  </div>

  <!-- <button @click="increment">Count is: {{ results }}</button> -->
</template>

<style scoped>
.list {
  list-style: none;
  padding: 0;
  width: 70%;
}
.list-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;

  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge-primary {
  color: #fff;
  background-color: #007bff;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}
</style>
