<script setup lang="ts">
import TaskManager from './components/TaskManager.vue'

import { onMounted, reactive } from 'vue'

export type Task = {
  id: number
  title: string
  status: string
}
// reactive state
const results = reactive<Task[]>([])

async function fethData() {
  try {
    const response = await fetch('http://localhost:8000/api/v1/tasks')
    const { data } = await response.json()
    if (!response.ok) {
      throw new Error('Error submitting data')
    }
    results.push(...data)
  } catch (error) {
    console.log((error as Error).message)
  }
}

// lifecycle hooks
onMounted(fethData)
</script>

<template>
  <TaskManager :results="results" />
  <!-- <header>
    <img alt="Vue logo" class="logo" src="./assets/logo.svg" width="125" height="125" />

    <div class="wrapper">
      <HelloWorld msg="You did it!" />
    </div>
  </header>

  <main>
    <TheWelcome />
  </main> -->
</template>

<style scoped></style>
